@font-face{

    font-family: "Futura";
    
    src: url('../fonts/futura-bold-italic-bt.ttf') format('truetype'),
    
    url('../fonts/futurastd-heavyoblique.otf') format('opentype');
    
    font-weight: bold;
    
    font-style: italic;
    
    }

html,
body {
  margin: 0;
  padding: 0;
}

a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
    color: hsl(243, 100%, 59.9%);
}

.header {
    width:100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.main-logo {
    background: linear-gradient(to right, hsl(243, 100%, 59.9%), hsl(10, 100%, 59.9%));
    width: 400px;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 65px;
    font-family: "Futura", Arial, serif;
    font-weight: bold;
    font-style: italic;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 1);
}

.main-logo-span {
    color: white;
}


.socials-icons {
    color: hsl(243, 100%, 59.9%);
    font-size: 50px;
    z-index: 10;
}

.feedback-pencil {
    display: inline;
    border: 0;
    color: hsl(243, 100%, 59.9%);
    font-size: 50px; 
}

.feedback-pencil:hover {
    color:  hsl(10, 100%, 59.9%);
    cursor: pointer;
}

.fab:hover {
    color:  hsl(10, 100%, 59.9%);
}
.fab:active {
    color:  hsl(10, 100%, 59.9%);
}
.under-constructed {
    font-size: 16px;
    z-index: 5;
    font-family: "Futura", Arial, serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 65px;
}

.coming-soon-span {
    color: hsl(243, 100%, 59.9%);
}

.arrow-down {
    font-size: 20px;
    padding: 10px 0;
    margin:0;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: hsl(243, 100%, 59.9%);
}

@keyframes blinking {
    0% {
    }
    50% {
        color:  hsl(10, 100%, 59.9%);
        transform: scale(1.3);
    }  
  }

@media (max-width: 600px) {
    .main-logo {
        width: 300px;
        height: 90px;
        font-size: 40px;
    }

    .socials-icons {
        font-size: 30px;
    }

    .under-constructed {
        font-size: 12px;
    }

    .arrow-down {
        font-size: 16px;
    }

    .feedback-pencil {
        font-size: 30px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
}

.form-place {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFF;
}

.overlay-thankyou {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200; 
    display: none;  
}

.thankyou {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFF;
}



.news {
    font-size: 18px;
    padding: 40px 20px;
}